<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>81273386010-s7tcjl2939ttrijjk4ae64a1hvhfjvbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81273386010-s7tcjl2939ttrijjk4ae64a1hvhfjvbc</string>
	<key>API_KEY</key>
	<string>AIzaSyDEMjyX8tV5vkwP-DrjC3oOJcxIpOedISU</string>
	<key>GCM_SENDER_ID</key>
	<string>81273386010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ss.yk.HomeControl</string>
	<key>PROJECT_ID</key>
	<string>smartheating-a7993</string>
	<key>STORAGE_BUCKET</key>
	<string>smartheating-a7993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81273386010:ios:67a470529fb99ef9</string>
	<key>DATABASE_URL</key>
	<string>https://smartheating-a7993.firebaseio.com</string>
</dict>
</plist>